#api-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

#score-bar-container {
  width: 100%;
  height: 8px;
  background: #f3f3f3;
  border-radius: 4px;
  overflow: hidden;
}
#score-bar {
  height: 100%;
  width: 50%;
  background: red;
  transition: width 0.4s ease, background-color 0.4s ease;
}
